<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LearnTrack App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">📘 LearnTrack</a></h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('subjects') }}">Add Subject</a>
            <a href="{{ url_for('topics') }}">Add Topic</a>
            <a href="{{ url_for('logs') }}">Logs</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Made by Mohd Arslan | © 2025 LearnTrack</p>
    </footer>
</body>
</html>
